<form {{action 'authenticate' on='submit'}} class='d-auth-form fade-in'>

  {{#if error}}
    <div class="d-error">{{error}}</div>
  {{/if}}

  {{input id='identification' placeholder='Email' value=identification autocomplete='off' autocapitalize="none"}}  
  {{input id='password' placeholder='Password' type='password' value=password autocomplete='off'}}

  <button type="submit" class='d-btn d-btn--success' {{bind-attr disabled=working}}>
    {{#if working}}
      Logging in..
    {{else}}
      Login
    {{/if}}
  </button>

  <ul class='d-links'>
    <li>{{#link-to 'index'}}Create Account{{/link-to}}</li>
    <li>{{#link-to 'password-reset'}}Forgot Password?{{/link-to}}</li>
  </ul>
</form>