{{view "site-nav"}}

<div class='d-panel d-importer'>  
  
  <div class='d-panel_content'>
    <div class='d-panel_name'>
      <div class='d-inner'>
        <span>Entry Importer</span>
      </div>
    </div>

    <p>
      If you have entries stored elsewhere, or have an export .txt file from OhLife, 
      you can use this tool to add entries to DayJot in bulk. Simple paste
      the entry text below, and click "Start Import". Make sure to follow
      the formatting guide below. If you have any questions, email
      help@dayjot.com.
    </p>

    <div class='d-section'>
      <h2>Format</h2>

      <p>
        <i>year-month-day</i>
        <br />
        <i>Entry Text</i>
        <br /><br />
        2011-04-18
        <br />
        Entry text
        <br /><br />
        2011-04-19
        <br />
        Entry Text
        <br /><br />
        2011-04-20
        <br />
        And so on..
      </p>
    </div>  

    <div class='d-section'>
      <h2>Paste Below</h2>
      {{view 'textarea-autosize' value=importText placeholder="Paste formatted entry text to import here." fade=false}}

      <div>
        <div {{bind-attr class=":d-processing processing:on"}}>
          <p>> {{processingText}}</p>
          <p>> Importing {{processingCount}} of {{entryCount}} entries.</p>

          {{#if errors}}
            {{{errors}}}
          {{/if}}

          {{#if done}}
            <p class='d-positive'><b>Done! Successfully added {{successCount}} entries.</b></p>
          {{/if}}
        </div> 
      </div>

      <br />

      {{#if importText}}
        <button {{action "startImport"}} {{bind-attr class=":btn :btn-primary processing:disabled"}} {{bind-attr disabled=processing}} {{bind-attr disabled=session.currentUser.mustSubscribe}}>Start Import</button>
        {{#if done}}
          <button {{action "resetImport"}} class='btn btn-info'>Reset</button>
        {{/if}}
      {{/if}}
    </div>
  </div>

</div>