<div class='d-home'>
  {{partial "home-nav"}}
  <div class='d-top-half'>
    <div class='container'>
      {{partial "widgets/large-logo"}}
      {{partial "users/register-form"}}
    </div>
  </div>

  <div class='d-divider'></div>

  <div class='container d-123'>
    <div class='row'>
      <div class='col-md-4'>
        <div class='d-name'>It's simple.</div>
        <p>We send you friendly "How'd your day go?" emails.</p>
        <p>You reply and write as much as you want.</p>
        <p>You end up with a neat collection of your life stories.</p>
      </div>
      <div class='col-md-4'>
        <div class='d-name'>It's private.</div>
        <p>Thoughts, ideas, memories.</p>
        <p>All saved in one place.</p>
        <p>Never shared, only viewable by you.</p>
      </div>
      <div class='col-md-4'>
        <div class='d-name'>Our pledge to you.</div>
        <p>We'll never get acquired.</p>
        <p>We'll never shut down.</p>
        <p>You pay. We keep the lights on.</p>
      </div>
    </div>
  </div>

  <div class='d-divider muted'></div>

  <div class='d-feature-container'>
    <div class='d-title'>Why Give it a Try?</div>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12 col-lg-7'>
          <img src="/assets/images/home/screen_1.jpg" class='on' />
          <img src="/assets/images/home/screen_2.jpg" />
          <img src="/assets/images/home/screen_3.jpg" />
          <img src="/assets/images/home/screen_4.jpg" />
          <img src="/assets/images/home/screen_5.jpg" />
        </div>
        <div class='col-xs-12 col-lg-5 d-features'>
          <ul>
            <li class='on' {{action "activateFeatureTab" 1 target="view"}}>
              <h2>OhLife Importer</h2>
              <p>
                The perfect OhLife replacement, built
                to last. Easily import your OhLife entries.
              </p>
              <i class='fa fa-plug blue'></i>
            </li>
            <li {{action "activateFeatureTab" 2 target="view"}}>
              <h2>Multiple Views</h2>
              <p>
                Enjoy multiple, beautiful ways to browse your journal. 
                Skip to random entries, view by month, and more.
              </p>
              <i class='fa fa-circle-o-notch green'></i>              
            </li>
            <li {{action "activateFeatureTab" 3 target="view"}}>
              <h2>Searchable</h2>
              <p>
                Powerful search by term and/or month
                makes it easy to find that long lost memory.
              </p>
              <i class='fa fa-search yellow'></i>
            </li>
            <li {{action "activateFeatureTab" 4 target="view"}}>
              <h2>Blasts From the Past</h2>
              <p>
                Included in each reminder email is an old entry,
                to remind you of that memory from last year.
              </p>
              <i class='fa fa-envelope-o teal'></i>
            </li>
            <li {{action "activateFeatureTab" 5 target="view"}}>
              <h2>Exportable</h2>
              <p>
                1-Click export. At any time, we'll email you a text file
                with all of your entries. 
              </p>
              <i class='fa fa-circle-o-notch orange'></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class='d-divider muted'></div>

  <div class='container d-open-source'>
    <i class='fa fa-code'></i>
    <p>Oh, and DayJot is <a href='https://github.com/marbemac/DayJot' target='_blank'>open source</a>. 
      <br />
      If $1 per month is too rich for you, you can run it yourself!
    </p>
    <iframe src="https://dayjot.com/github-btn.html?user=marbemac&repo=dayjot&type=fork&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
    <br /><br /><br />
    <div class='btn btn-primary btn-lg' {{action "focusRegister"}}>Sign up for DayJot for free</div>
  </div>
</div>

<div class="github-fork-ribbon-wrapper right-bottom">
  <div class="github-fork-ribbon">
    <a href="https://github.com/marbemac/dayjot">Fork me on GitHub</a>
  </div>
</div>
