{{view "site-nav"}}

<div class='d-panel d-plans'>  
  
  <div class='d-panel_content'>
    <div class='d-panel_name'>
      <div class='d-inner'>Become a Member. What's it worth to you?</div>
    </div>

    {{#if redirecting}}
      <h1 class='d-positive'>Success! Redirecting...</h1>
    {{else}}
      {{#if processing}}
        <h1 class='d-positive'>Processing...</h1>      
      {{else}}
        <div class='d-top'>
          <div class='d-plan-option'>{{planValue}} <span>per month</span></div>
        
          <p class='d-plan-text'>
            The same price as
            <small>{{planText}}</small>
          </p>
          {{view "slider" startValue=session.currentUser.plan}}

          {{#if session.currentUser}}
            {{#if hasPlan}}
              {{#if isPlanActive}}
                <button class='btn btn-primary' {{action "updatePlan"}}>Update Subscription</button>          
              {{else}}
                <button class='btn btn-primary' {{action "updatePlan"}}>Renew Subscription</button>          
              {{/if}}          
            {{else}}
              <button class='btn btn-primary' {{action "startPlan"}}>Add Credit Card</button>

              {{#if session.currentUser.trialActive}}
                {{#link-to "entries" class='btn btn-default'}}... or do this later{{/link-to}}
              {{/if}}

            {{/if}}

            {{#if errorMessage}}
              <div class="d-error-box">
                <p>{{errorMessage}}</p>
              </div>
            {{/if}}
          {{else}}
            {{#link-to "index" class='btn btn-primary'}}Register First{{/link-to}}
          {{/if}}
        </div>

        <ul class='d-features'>
          <li>
            <h2>30 Day Trial</h2>
            {{#if session.currentUser}}
              {{#unless session.currentUser.planActive}}
                {{#unless session.currentUser.trialActive}}
                  <p>Hmm, looks like your trial is expired!</p>
                {{/unless}}
              {{/unless}}
            {{/if}}
            <p>Use DayJot free for a month, no credit card required. {{#link-to "entries"}}Click here{{/link-to}} to carry on.</p>
            <p>If you're not happy or something's missing, let us know at <a href='mailto:hi@dayjot.com'>hi@dayjot.com</a></p> 
          </li>

          <li>
            <h2>You're charging money. Why?</h2>
            <p>DayJot has an open and up-front business model. You pay money, and we keep your memories online forever.</p>
            <p>There's no guess work about how the site will stay up, or whether your data is yours.</p>
            <p>DayJot was built to run at minimal cost, and to scale well.</p>
            <p>As long as there is a single paying user, DayJot will be online, and <a href='http://i.imgur.com/CUBQFIV.png' target='_blank'>this won't happpen</a>.</p>
          </li>
          <li>
            <h2>Security</h2>
            <p>All credit card info is handled securely with <a href='https://stripe.com' target='_blank'>Stripe</a>.</p>
            <p>All data sent to and from DayJot is encrypted and stored in a secure location.</p>
            <p>The DayJot database itself is encrypted, so even if an attacker got access to it, they could not read the information.</p>
          </li>
          <li>
            <h2>Privacy</h2>
            <p>Your information will never be shared or sold.</p>
            <p>Only you can view your entries.</p>
            <p>No Facebook. No Twitter. By design, DayJot is <i>not</i> a social website.</p>
          </li>
          <li>
            <h2>Questions?</h2>
            <p>If you have any questions or issues, please email hi@dayjot.com.</p>
          </li>
        </ul>
      {{/if}}
    {{/if}}

  </div>
</div>