{{view "site-nav"}}

<div class='d-panel d-settings'>  
  
  <div class='d-panel_content'>
    <div class='form-horizontal'>
      <div class='d-panel_name'>
        <div class='d-inner'>
          <span>Settings</span>
        </div>
      </div>

      <div class='d-section'>
        <h2>Info</h2>

        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            {{input value=session.currentUser.email readonly="true" disabled="true" class="form-control"}}
            <small>Email hi@dayjot.com to change your account email.</small>
          </div>
        </div>        
      </div>

      <div class='d-section'>
        <h2>
          Emails
          <small class='d-subheader'>Tell us when you'd like to receive your reminder emails.</small>
        </h2>

        <div class="form-group">
          <label class="col-sm-3 control-label">Timezone</label>
          <div class="col-sm-9">
            {{view "select" content=zones
                              optionLabelPath="content.name"
                              optionValuePath="content.value"
                              prompt="Pick a timezone:"
                              value=timeZone
                              class="form-control"}}
          </div>
        </div>

        <div class='email-times'>
          {{view "users/email-time" day="monday" emailTimes=emailTimes}}
          {{view "users/email-time" day="tuesday" emailTimes=emailTimes}}
          {{view "users/email-time" day="wednesday" emailTimes=emailTimes}}
          {{view "users/email-time" day="thursday" emailTimes=emailTimes}}
          {{view "users/email-time" day="friday" emailTimes=emailTimes}}
          {{view "users/email-time" day="saturday" emailTimes=emailTimes}}
          {{view "users/email-time" day="sunday" emailTimes=emailTimes}}
        </div>

        <br />
        <div class="checkbox">
          <label>
            {{input checked=session.currentUser.includeEmailMemory type="checkbox" class="form-control"}} Include a previous entry in my reminder emails
          </label>
        </div>        
        <br />

        <button {{action "saveEmailSettings"}} {{bind-attr class=":btn :btn-primary saving:disabled"}} {{bind-attr disabled=saving}}>Save Email Settings</button>
      </div>

      <div class='d-section'>
        <h2>
          Export Entries
          <small class='d-subheader'>Click the button below, and we'll email you a text file with all your entries.</small>
        </h2>
        
        <div>
          <button {{action "export"}} {{bind-attr class=":btn :btn-primary exporting:disabled"}} {{bind-attr disabled=exporting}}>Export</button>
        </div>
      </div>

      <div class='d-section'>
        <h2>
          Reset Entries
          <small class='d-subheader'>Click the button below to permanently remove all of your entries.</small>
        </h2>
        
        <div>
          <button {{action "delete"}} {{bind-attr class=":btn :btn-primary deleting:disabled"}} {{bind-attr disabled=deleting}}>Delete All Entries</button>
        </div>
      </div>

      <div class='d-section'>
        <h2>
          Subscription
          {{#if planWasCanceled}}
            <small class='d-subheader'>Canceled on {{pretty-time planCanceled}}</small>
          {{else}}
            {{#if plan}}
              <small class='d-subheader'>${{planInDollars}} per month. Member since {{pretty-time createdAt}}.</small>
            {{else}}
              {{#if trialActive}}
                <small class='d-subheader'>Trial active until {{pretty-time trialEnd}}.</small>
              {{/if}}
            {{/if}}
          {{/if}}          
        </h2>

        {{#if plan}}
          {{#if planWasCanceled}}
            <p>Your subscription has been been canceled. You will not be billed again.</p>
            <p>If you change your mind, you can re-subscribe below.</p>
            <br />
            {{#link-to "plans" class="btn btn-info"}}Renew Subscription{{/link-to}}
          {{else}}
            <div class='btn-group'>
              {{#link-to "plans" class="btn btn-info"}}Change Subscription{{/link-to}}
              <button {{action "cancel"}} {{bind-attr class=":btn :btn-danger canceling:disabled"}} {{bind-attr disabled=canceling}}>Cancel Subscription</button>
            </div>            
          {{/if}}
        {{else}}
          {{#link-to "plans" class="btn btn-info"}}Become a Member{{/link-to}}
        {{/if}}
      </div>

    </div>

  </div>

</div>