<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dayjot-site-nav">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <h1 class="navbar-brand d-logo">
      {{#link-to 'index'}}<span>Day</span>Jot{{/link-to}}
    </h1>      
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="dayjot-site-nav">
    {{#if session.isAuthenticated}}
      <form class="navbar-form navbar-left" role="search" {{action "search" on="submit" target="view"}}>
        <div class="input-group">
          {{input value=view.searchTerm placeholder="Search" class='form-control'}}
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class='fa fa-search'></i></button>
          </span>
        </div>
      </form>
    {{/if}}

    <ul class="nav navbar-nav navbar-right">
      {{#if session.isAuthenticated}}
        {{#if session.currentUser.shouldSubscribe}}
          <li>{{#link-to 'plans'}}<i class='fa fa-heart'></i> Subscribe{{/link-to}}</li>
        {{/if}}
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" aria-expanded="false" {{action "toggleDropdown" target="view"}}>More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>{{#link-to 'settings'}}Settings{{/link-to}}</li>
            <li>{{#link-to 'importer'}}Importer{{/link-to}}</li>
            <li>{{#link-to 'about'}}About{{/link-to}}</li>
            <li class='divider'></li>
            <li><a {{action 'invalidateSession'}}>Logout</a></li>
          </ul>
        </li>
      {{else}}
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'login'}}Login{{/link-to}}</li>
        <li>{{#link-to 'register'}}Register{{/link-to}}</li>
      {{/if}}
    </ul>

    {{#if session.isAuthenticated}}
      <ul class='nav navbar-nav navbar-right'>
        <li>{{#link-to 'entries.show' view.todayDate}}<i class='fa fa-book'></i> Now{{/link-to}}</li>
        <li>{{#link-to "entries.index" (query-params when="" search="")}}<i class='fa fa-calendar'></i> Past{{/link-to}}</li>
        <li>{{#link-to 'entries.new'}}<i class='fa fa-pencil'></i> Write{{/link-to}}</li>
      </ul>
    {{/if}}
  </div>
</div>