<div class='d-entry-list_item'>
  <div class='d-when'>{{pretty-time entryDate}}</div>
  <div class='d-when-subheader'>{{pretty-day entryDate}}</div>
  <div class='d-what d-serif'>
    {{!-- Parent controller is entries.index --}}
    {{#if parentController.search.length}}
      {{showdown-with-search body parentController.search}}
    {{else}}
      {{showdown-html body}}
    {{/if}}
  </div>

  <div class='d-actions'>
    {{#link-to "entries.edit" id class="btn btn-default"}}<i class='fa fa-pencil'></i>{{/link-to}}
    <button class='btn btn-default' {{action "remove"}}><i class='fa fa-trash'></i></button>
  </div>
</div>