{{#if errors}}
  <div class="d-error-box">
    {{#each errors}}
      <p class="d-error">
        {{this}}
      </p>
    {{/each}}
  </div>
{{/if}}

<form class='d-new-entry' {{action 'save' on='submit'}}>
  <div class='d-panel_content d-serif'>
    <div class='d-panel_name'>
      <div class='d-inner'>
        {{calendar-date-picker value=entryDatePretty defaultDate=entryDate}}
      </div>      
    </div>

    {{#if previewing}}
      <div class='d-what'>
        {{showdown-html body}}
      </div>
    {{else}}        
      {{view 'textarea-autosize' value=body placeholder="Write here.." fade=true class='d-what' disabled=session.currentUser.mustSubscribe}}
    {{/if}}
  </div>
  
  <div class='d-panel_bottom-actions'>
    <div class='btn-group'>
      <button type="submit" {{bind-attr class=":btn :btn-primary saving:disabled"}} {{bind-attr disabled=saving}} {{bind-attr disabled=session.currentUser.mustSubscribe}}>
        {{#if id}}
          Save
        {{else}}
          Create
        {{/if}}
      </button>
      <button class="btn btn-info" {{action "togglePreview"}} {{bind-attr disabled=session.currentUser.mustSubscribe}}>
        {{#if previewing}}
          Hide Preview
        {{else}}
          Preview
        {{/if}}
      </button>
    </div>
  </div>    
</form>