<div class='d-panel d-entry-show'>
  <div class='d-panel_top-actions'>
    <div class='btn-group'>
      {{#if prevEntry}}
        {{#link-to "entries.show" prevEntry class="btn btn-default" title='Previous Entry'}}
          <i class='fa fa-caret-left'></i> older
        {{/link-to}}  
      {{else}}
        <div class="btn btn-default disabled" title='Next Entry'><i class='fa fa-caret-left'></i> older</div>
      {{/if}}

      {{#if randomEntry}}
        {{#link-to "entries.show" randomEntry class="btn btn-default" title='Random Entry'}}
          random
        {{/link-to}}
      {{else}}
        <div class="btn btn-default disabled" title='Next Entry'>random</div>
      {{/if}}

      {{#if nextEntry}}
        {{#link-to "entries.show" nextEntry class="btn btn-default" title='Next Entry'}}
          newer <i class='fa fa-caret-right'></i>
        {{/link-to}}
      {{else}}
        <div class="btn btn-default disabled" title='Next Entry'>newer <i class='fa fa-caret-right'></i></div>
      {{/if}}
    </div>
  </div>

  {{#if id}}
    {{partial "entries/show"}}
  {{else}}
    {{view "entries/form"}}
  {{/if}}
</div>