<form {{action 'finish' on='submit'}} class='d-auth-form fade-in'>
  {{#each errors}}
    <div class="d-error">
      {{this}}
    </div>
  {{/each}}

  {{#if message}}
    <div class="alert alert-success" role="alert">{{message}}</div>
  {{/if}}

  {{input placeholder='New Password' type='password' value=newPassword1 autocomplete='off' autocapitalize="none"}}
  {{input placeholder='New Password Again' type='password' value=newPassword2 autocomplete='off' autocapitalize="none"}}

  <button type="submit" class='d-btn d-btn--success' {{bind-attr disabled=working}} {{bind-attr disabled=done}}>
    {{#if working}}
      Resetting..
    {{else}}
      {{#if done}}
        Done
      {{else}}
        Set My New Password
      {{/if}}
    {{/if}}
  </button>
</form>