<form {{action 'start' on='submit'}} class='d-auth-form fade-in'>
  {{#each errors}}
    <div class="d-error">
      {{this}}
    </div>
  {{/each}}

  {{#if message}}
    <div class="alert alert-success" role="alert">{{message}}</div>
  {{/if}}

  {{input placeholder='Email' type='email' value=email autocomplete='off' autocapitalize="none"}}
  <button type="submit" class='d-btn d-btn--success' {{bind-attr disabled=working}} {{bind-attr disabled=done}}>
    {{#if working}}
      Sending Email..
    {{else}}
      {{#if done}}
        Done
      {{else}}
        Reset My Password
      {{/if}}
    {{/if}}
  </button>
</form>